{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Write Blog {% endblock %}
{% block content %}

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'blog:homepage_view' %}">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
      {% if blog.slug %}
    <div class="d-flex">
        <a class="navbar-brand btn btn-warning" href="{% url 'blog:blog_detail_view' blog.slug %}">
                <i class="fa-solid fa-eye"></i>
        </a>
    </div>
      {% endif %}
  </div>
</nav>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form|crispy }}
    {% include 'includes/form_errors.html' %}

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>
    tinyMCE.init({
      selector: "#id_description",
    });
</script>

{% endblock %}
