{% extends 'layouts/base.html' %} {% load static %} {%block title%} Sign Up {%endblock%}
{% block content %}

<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% if blogs %}
    {% for blog in blogs %}
    <tr>
        <th>{{ forloop.counter }}</th>
        <td>{{ blog.title|title }}</td>
        <td>{{ blog.description|truncatechars:20  }}</td>
        <td>{{ blog.author.full_name }}</td>
        <td>
            <a href="{% url 'blog:blog_detail_view' blog.slug %}">View</a> <br />
            <a href="{% url 'blog:update_blog_view' blog.slug %}">Edit</a> <br />

        </td>
    </tr>
    {% endfor %}
  {% else %}
  <tr>
    <th colspan="5" class="text-center"> There are no blogs yet</th>
  </tr>
  {% endif %}
  </tbody>
</table>

{% endblock %}
