{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{%block title%} Sign Up {%endblock%}
{% block content %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-6">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form.email|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.password|as_crispy_field }}
        </div>
    </div>
    {% include 'includes/form_errors.html' %}

    <input type="submit" value="Submit" class="btn btn-primary">

    <p>{% trans "Have an account?" %}<a href="{% url 'userman:user_login_page_view' %}">
        {% trans "Click here" %}
    </a>{% trans "to Login" %}</p>
</form>

{% endblock %}
